{% if content %}
  {% if content.buildercv_experience_cv1_bg.layout_builder_add_block %}
    {{ content.buildercv_experience_cv1_bg }}
  {% endif %}
  {% if content.buildercv_experience_cv1_bg|layout_bg_img %}
    {% set attributes = attributes.merge(content.buildercv_experience_cv1_bg|layout_bg_img) %}
  {% endif %}
  <section class="cvSectionExp container">
    <div class="cvSectionExp-container container">
      <div class="cvSectionExp-infos">
        {% if content.buildercv_experience_cv1_title %}
          <h3 {{ region_attributes.buildercv_experience_cv1_title.addClass(["title"]) }}>
            {{ content.buildercv_experience_cv1_title }}
          </h3>
        {% endif %}
        {% if content.buildercv_experience_cv1_works %}
          <div class="cvSectionExp-head">
            {% for item in content.buildercv_experience_cv1_works|array_elements(region_attributes.buildercv_experience_cv1_works.addClass('cvSectionExp-head-item')) %}
        		{{ item }}
        	{% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}
