{% if item %}
  <div class="infos field-svg d-flex">
    {% if item.value %}
      <div class="svg">
        {{ item.value|raw }}
      </div>
    {% endif %}
    {% if item.text %}
      <div class="text font-weight-bold">
        {{ item.text }}
      </div>
    {% endif %}
  </div>
{% endif %}
