{#
/**
 * @file cv_entity.html.twig
 * Default theme implementation to present Cv entity data.
 *
 * This template is used when viewing Cv entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cv_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cv_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
