.container-svg[data-v-d69890ba]{height:150px;width:150px;background-color:#eee;display:flex;justify-content:center;align-items:center}.container-svg svg[data-v-d69890ba]{width:50px}

.fade-enter-active[data-v-e2fd8bd0],
.fade-leave-active[data-v-e2fd8bd0] {
  transition: opacity 0.3s;
}
.fade-enter[data-v-e2fd8bd0],
.fade-leave-to[data-v-e2fd8bd0] {
  opacity: 0.2;
}


.fade-enter-active[data-v-776a4b88],
.fade-leave-active[data-v-776a4b88] {
  transition: opacity 0.3s;
}
.fade-enter[data-v-776a4b88],
.fade-leave-to[data-v-776a4b88] {
  opacity: 0.2;
}

.vuejs-uploader .previews .img-preview{max-width:220px;max-height:220px;width:auto;height:auto}.vuejs-uploader label{font-size:1.6rem !important}
.btn-back[data-v-57f71c21]{cursor:pointer}.fi-input[data-v-57f71c21]{text-align:left;margin-bottom:1.5rem}.fi-input label[data-v-57f71c21]{font-size:14px;color:#000}.fi-input .custom-checkbox[data-v-57f71c21]{font-size:14px}.fi-input .form-control[data-v-57f71c21]{position:relative;border-radius:4px;background-color:#f0f3f5;height:55px;border:2px solid rgba(0,0,0,0);transition:ease-in .3s;font-size:14px;align-items:center}.fi-input .form-control[data-v-57f71c21]:focus,.fi-input .form-control[data-v-57f71c21]:active{background-color:rgba(0,0,0,0);border-color:#9f9f9f;box-shadow:none}.fi-input small[data-v-57f71c21]{font-size:12px;margin:3px 14px 0px;color:#5a5e61}.fi-input .label-respon[data-v-57f71c21]{font-size:1.2rem}.fi-input--textarea .form-control[data-v-57f71c21]{height:auto;min-height:200px;padding-top:20px;padding-bottom:20px}.fi-input--textarea .form-control[data-v-57f71c21]:focus,.fi-input--textarea .form-control[data-v-57f71c21]:active{background-color:#f0f3f5;border-color:rgba(0,0,0,0);box-shadow:none}
.btn-drag-drop[data-v-695877ae]{cursor:pointer}.add-new-card[data-v-695877ae]{display:flex;box-sizing:border-box;-webkit-box-align:center;width:100%;align-items:center;padding:8px 14px;border-radius:4px;min-height:60px;cursor:pointer;transition:all .2s ease-in-out 0s;box-shadow:none;background-color:rgba(0,0,0,0);border:2px dashed #b7dcfa}.add-new-card[data-v-695877ae]:active{background:#1e6d6d}.add-new-card .anc-titre[data-v-695877ae]{font-size:18px;line-height:24px;font-weight:600;letter-spacing:.15px;color:#26a0f4;max-width:100%;padding:0px 12px;margin:0px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
